In [1]:
print('hello world')

hello world

In [2]:
import pandas as pd

# Dataset

In [7]:
df=pd.read_csv("dataset/etudiants.csv",sep=';')

In [8]:
df.head()

,NumeroEtudiant,Prenom,Nom,Adresse,CodePostal,Ville,TelephoneFixe,TelephonePortable
0,1,Emile,Caron,35 Rue de Port-à-loup,1957,Conpuygnuse,457943774,783088145
1,2,Jean-Pierre,Le bars,40 Avenue de Domrieu,49846,Bopord,301048989,768998409
2,3,Lionel,Paulin,48 Ruelle de Locvaux,74019,Mivran,396343400,752166514
3,4,Maxime,Bey,46 Impasse de Clairesdouves,6094,Magne,103297815,644028958
4,5,Damien,Poussin,42 Boulevard de Malecour,15323,Monmelame,488480048,745397226

In [9]:
df.shape

(85, 8)

In [10]:
df.columns

Index(['NumeroEtudiant', 'Prenom', 'Nom', 'Adresse', 'CodePostal', 'Ville',
       'TelephoneFixe', 'TelephonePortable'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NumeroEtudiant     85 non-null     int64
 1   Prenom             85 non-null     object
 2   Nom                85 non-null     object
 3   Adresse            85 non-null     object
 4   CodePostal         85 non-null     int64
 5   Ville              85 non-null     object
 6   TelephoneFixe      85 non-null     int64
 7   TelephonePortable  85 non-null     int64
dtypes: int64(4), object(4)
memory usage: 5.4+ KB

In [17]:
print(df.head(2).to_markdown())

|    |   NumeroEtudiant | Prenom      | Nom     | Adresse               |   CodePostal | Ville       |   TelephoneFixe |   TelephonePortable |
|---:|-----------------:|:------------|:--------|:----------------------|-------------:|:------------|----------------:|--------------------:|
|  0 |                1 | Emile       | Caron   | 35 Rue de Port-à-loup |         1957 | Conpuygnuse |       457943774 |           783088145 |
|  1 |                2 | Jean-Pierre | Le bars | 40 Avenue de Domrieu  |        49846 | Bopord      |       301048989 |           768998409 |